<!doctype html>
<html>
<head>
    <title>Don't push it</title>
    <link rel='stylesheet' href='/css/main.css'>
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Vollkorn">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

</head>
<body>
<div class='top-line'>
    <div class='top-line-container'>
        <a class='title' href='/'>Don't push it</a>
        <a class='top-line-follow' href='https://twitter.com/yochaibl'>follow</a>
    </div>
</div>
<div class='container'>
